@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* ------------------------------------------------------------------------------- */
/* Navigationbar */
.navbar{
    background-color: #004B55;
    height: 80px;
}
.nav-link{
    font-family: 'Lato', sans-serif;
    color: #a4c9ba;

}

.nav-link:hover {
    color: #F0EDE4;
}

.nav-link.active {
    border-bottom: 2px solid #a4c9ba;
    color: #F0EDE4;
}


.navbar-brand {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}

/* Logo */
.navbar-brand img {
    margin-left: -140px; 
}

/* UI elements */

.r-brand img {
    margin-left: 0px; 
}

.ar-brand img {
    margin-left: -280px; 
}

.r-brand:hover img{
    content: url(/ASSESTS/shopping-cart\ \(1\).svg);
    transition: opacity 0.3s ease;
    
}

.ar-brand:hover img{
    content: url(/ASSESTS/user-circle-2\ \(1\).svg);
    transition: opacity 0.3s ease;
    
}


/* Footer */

footer {
    width: 100%;
    background-color: #004B55;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }
  
  .section {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    color: #a4c9ba;
  }
  
  .section h3 {
    margin-top: 0;
  }
  
  .section p {
    margin-bottom: 0;
    color: #a4c9ba;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  #copyright{
    margin-left: -90px;
    margin-top: 10px;
    text-align: center;
  }

.section img{
    margin-left: 100px;
    margin-left: 5px;
}

.social{
    margin-right: 100px;
}

.Logi{
    margin-left: 150px;
}

.vertical-line {
    width: 1px;
    height: 110px;
    background-color:#a4c9ba; 
}

/* UI Footer */




.container-fluid{
    background-color: #004B55;
    color: #a4c9ba;
    padding-top: 10px;
}


/* Card */

.card{
    border-radius: 30px 30px ;
    background-color: #E1DBB8;
    color: #004B55;
    border: none;
    height: 440px;
}

.card:hover{
    border-radius: 30px 30px ;
    background-color: #004B55;
    color: #fdfefe;
    border: 2px solid #1EC5D2;
    height: 440px;
    transition: opacity 0.3s ease;
}


.card-img-top {
    border-radius: 26px 26px 1px 1px;
    width: 100%; /* Adjust the image width to 100% of the parent container */
    height: auto; /* Let the browser maintain the aspect ratio */
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.card-img-top.small{
    height: 190px;
}

.oncard{
    float: right;
    margin-right: 10px;
    margin-top: -60px;
    border-radius: 20px;
}

.card-text,.card-title{
    padding-left: 20px;
    padding-top: 5px;
}



/* filter and sorting buttons */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sort {
    margin-left: auto;
  }
  
  /* Adjust the label styles to maintain proper alignment */
  .sort label {
    margin-left: 10px;
  }
  
  /* Clear the float to prevent other elements from overlapping */
  .container {
    clear: both;
  }

  .btn-outline-success{
    border: 1px solid #004B55 ;
    color: #004B55;
    border-radius: 20px;
  }

/* The checked color state for the radio buttons */
.btn-group .btn-check:checked + .btn-outline-success {
    background-color: #004B55;
    color: #F0EDE4; 
    border-color: #004B55; 
}

/* The hover state for the radio buttons */
.btn-group .btn-outline-success:hover {
    color: #1EC5D2;
    border-color: #1EC5D2; 
}

.btn-outline-secondary{
    border: 1px solid #1EC5D2 ;
    color: #1EC5D2;
    border-radius: 20px;
  }


.btn-group .btn-check:checked + .btn-outline-secondary { 
    border-color: #1EC5D2;
    background-color: #1EC5D2; 
}

/* Change the hover state for the radio buttons */
.btn-group .btn-outline-secondary:hover {
    border-color: #004B55; 
    color: #004B55;
}







  